.footer__container {
  background: #2f2f2f;           
  color: white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.footer__link {
  display: flex;
  flex-direction: column;
  text-align: left ;
  gap: 25px;
  color: white;
  font-family: 'Julee', cursive;
}
.footer__link a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: opacity 0.2s ease;
}

.footer__link a:hover {
  opacity: 0.75;
}

.footer__socials {
  display: flex;
  gap: 30px;
}

.footer__socials img {
  width: 50px;    
  height: 50px;
  background: #1e1e1e; 
  padding: 10px;
  border-radius: 10px;
  object-fit: contain;
  transition: opacity 0.2s ease;
}

.footer__socials img:hover {
  opacity: 0.7;
}
