.header {
  height: 140px; /* Ajustez si nécessaire */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: linear-gradient(
    90deg,
    #00A7FF 0%,     /* Bleu à gauche */
    #6CC7A2 40%,    /* Vert turquoise */
    #FFE000 100%    /* Jaune à droite */
  );
  position: relative;
  z-index: 10;
}

/* Logo */
.header__logo img {
  height: 120px;
  width: auto;
}
.header__end{
    width: fit-content;
}

