.header {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: linear-gradient(
    90deg,
    #00A7FF 0%,
    #6CC7A2 40%,
    #FFE000 100%
  );
  position: relative;
  z-index: 10;
}

/* Logo */
.header__logo img {
  height: 120px;
  width: auto;
}
.header__end{
    width: fit-content;
}

