.card__container {
    width: 100%;
    max-width: 380px; /* ajuste comme tu veux */
    background: #000; 
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    font-family: sans-serif;
    margin: 2rem auto;
}

.card__image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.card__info {
    padding: 1.2rem;
}

.card__date {
    margin: 0;
    color: black;
    font-size: 0.95rem;
    text-decoration: none;
}

.card__place {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3;
}
