.menu {
  position : fixed;
  background-color :rgb(255, 255, 255);
  flex;
  top;
  bottom;
  left;
  right;
  transition: margin-right ;0.4s;
  opacity: 0; 
  visibility: hidden;
}

.menu[aria-hidden="true"] {
  visibility: visible;
  opacity: 2;
}

.noscroll {
  overflow: hidden;
}

.menu-btn {
  width: 40px;
  height: 40px;
  background-size: contain;
  border: none;
  background-color: transparent;
}

.menu-btn[aria-expanded="true"] {
  background-image: url("/assets/icons/Close.png");
}

.menu-btn[aria-expanded="false"] {
  background-image: url("/assets/icons/Menu.png");
}